/*la couleur de mon text*/
.colortext {
    color: #D5BD20;
}


/*couleur de mon corps*/
body {
    background-color: #1D1D1D;
}

/*de la deco*/
.card {
   width: 40%;
  
  
  background: #0b0b0b90;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}

.margin-bottom{
    margin-bottom: 50px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.centrerletext

.atextblanc{
    color: white;
}

.textblan{
    color: white;
}

.colorbackground {
    background-color: #D5BD20;
}
/*couleur de mon text*/
.textnoir{
    color: black;
}

/*mes classes de largeur*/
.w25 {
    width: 25%;
}

.w33 {
    width: 33%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w80{
    width: 80%;
    height: 80%;
}

.w100 {
    width: 100%;
}

.w20{
    width: 20%;
}

.w20{
    width: 20%;
}


/*couleur d'arriére plan*/
.bgcolor{
   background-color: #D5BD20;
   padding-top: 0%;
}




/*mon contenair*/
.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}



a {
    text-decoration: none;
    /*Class pour enlever les surlignement des a*/
    color: #D5BD20;
    /* noir */
}

/*la taille de mes images*/
.taille-img {

    width: 33%;
    height: 33%;

}

/*mon boutonn principale*/
.btn {
    margin-left: auto;
    display: inline-block;
    margin-right: auto;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #030303;
    background: linear-gradient(135deg, #D5BD20);
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px 15px rgba(8, 8, 8, 0.3);
}
/*ma réserve de bouton*/
.secondbtn {
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #D5BD20;
    background: linear-gradient(135deg, #0e0e0e);
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px 15px rgba(8, 8, 8, 0.3);
 
}

.marginbottom-50px{
    margin-bottom: 100px;
}


.responsive {
    /*Les images doivent d'adapter a leur parents*/
    width: 100%;
    height: auto;
    object-fit: cover;
    /* jouez sur ces proprietés pour recadrer / agrandir l'image */
    object-position: center;
}







/*mes classes d'espacement et d'alignement*/
.flex {
    display: flex;
    flex-wrap: wrap;
}


.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.space-evenly {
    justify-content: space-evenly;
}




/*mes classes d'alignement d'objets*/


/*aligné les items au centre*/
.align-center {
    align-items: center;
}


/*aligné les items au début*/
.flex-start {
    align-items: flex-start;
}


/*aligné les items a la fin*/
.flex-end {
    align-items: flex-end;
}


.text-center{
    text-align:center
}


.gap{
    gap: 100px;
}





.lahauteur{
    height: 7vh;
}



/*mon hero*/
.hero{
  background-image:url('asset/banniere.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
}


.latailledemesimg{
align-items: center;
    height: 100px;
    display: flex;
    justify-content: center;
    width: 100px;
}
.tailledetext{
    font-size: 40px;
    text-align: center;
}
/*class pour que l'image ne se répette pas*/
.repetitiondelimg{
 background-repeat: no-repeat;
}



.padding-20px{
    padding: 50px;
}




.margintop-20px{
    margin-top: 20px;
}